<!-- app.component.html -->
<mat-toolbar color="primary">
  <span>My Dating App</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/profile">Profile</a>
  <a mat-button routerLink="/matchmaking">Matchmaking</a>
  <a mat-button routerLink="/chats">Chats</a>
  <a mat-button routerLink="/notifications">Notifications</a>
  <a mat-button routerLink="/scene">mountains</a>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="start center" class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <span>My Dating App &copy; 2023</span>
</footer>