/* app.component.scss */
.loader-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* set the background color to match your site */
  z-index: 999; /* set the z-index to be above other content */
}

.loader-overlay app-mountain-scene {
  width: 200px; /* set the size of the mountain scene */
  height: 200px;
}
